.diet-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  /* grid-gap: 10px; */
  /* grid-row-gap: 40px; */
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  margin-top: 2rem;
}

.chart {
  /* margin: auto; */
  height: 100%;
  width: 100%;
  max-width: 95vw;
  /* max-height: 800px; */
}

/* .diet-wrapper {
  height: 100%;
  width: 100%;
}

.chart {
  margin: auto;
  height: 100%;
  width: 80%;
  margin-bottom: 5rem;
  margin-top: 5rem;
} */
