/* .diet-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
}

.chart {
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 800px;
  max-height: 800px;
} */

.diet-wrapper {
  height: 100%;
  width: 100%;
}

.chart {
  margin: auto;
  height: 100%;
  width: 80%;
  max-width: 800px;
  max-height: 800px;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
